.categories .btn{
    min-width:100% !important;
    text-align:left;
}
.categories .btn .ion{
    float:right;
}

.collection-name{
    text-align:center !important;
}

.collection_img a img{
    min-width:100%;
}