@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization;
@using jzo.Models
@using jzo.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IAuthorizationService AuthorizationService
@inject ApplicationDbContext _context


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="6c3dvpOSBr8Klna4tLBLX64ZBEuZY5FIdISLqLNvbp8" />
    <title>@ViewData["Title"] - Jzo Fashion Nigeria Limited</title>
    <link rel="icon" href="~/favicon.jpg">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/dropzone/dist/dropzone.css" rel="stylesheet" />
        <link href="~/lib/ionicons-2.0.1/css/ionicons.css" rel="stylesheet" />
        <link href="~/lib/animate.css/animate.css" rel="stylesheet" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" />
        <link href="~/css/customOrder/CustomOrderWidget.min.css" rel="stylesheet" />
        <link href="~/css/account/passwordReset.min.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/lib/dropzone/dist/min/dropzone.min.css" rel="stylesheet" />
        <link href="~/lib/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet" />
        <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" />
        <link href="~/css/customOrder/CustomOrderWidget.min.css" rel="stylesheet" />
        <link href="~/css/account/passwordReset.min.css" rel="stylesheet" />


    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    <style>
        .search-form {
            width: 430px !important;
            border-radius: 30px 0px 0px 30px !important;
        }

        .search-btn {
            border-radius: 0px 30px 30px 0px !important;
            cursor: pointer !important;
            background: #363636 !important;
            color: white !important;
            border: 2px solid #363636;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #363636;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 20px;
                color: #818181;
                display: block;
                transition: 0.3s;
                border-top:1px solid white;
                border-bottom:1px solid white;
                text-align:justify;
                padding-top:15px;
                padding-bottom:15px;

            }

                .sidenav a:hover, .offcanvas a:focus {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
               
                right: 0px;
                font-size: 36px;
                margin-left: 50px;
                border:none;
            }
            .sidenav .closeArea{
                /*width:100%;*/
                background:#111;
                /*display:block;*/
                padding:40px;
                /*position:absolute;*/
                top:0;
                right:0;
               
            }
            .sidenav a .ion{
                font-size:25px;
                margin-right:20px;
            }

            .mobileNavTopBar{
                display: block;
                position: fixed;
                top: 0;
                width: 100%;
                height: 50px;
                z-index: 1100;
                background-color: #373433;
                box-shadow: 1px -3px 14px rgba(0,0,0,0.4);
               
            }

            .sidenav .sign-out{
                display:block;
                width:300% !important;
                margin-left:40%;
                margin-right:20%;
            }

           .product-cat-menu{
               margin-top:6em !important;
           }
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top visible-lg">
        <div class="container">
            <div class="navbar-header">

                <button style="border:1px solid white; border-radius:0" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">toggle navigation</span>
                    <span style="color:white">menu</span>
                </button>


            </div>
            <div class="navbar-collapse collapse">
                <ul class="social nav navbar-nav">
                    <li class="hidden-lg">
                        <a class="home" asp-area="" asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                    </li>
                    <li class="hide-mobile">
                        <a href="https://twitter.com/jzo_ng">
                            <i class="ion ion-social-twitter"></i>
                        </a>
                    </li>
                    <li class="hide-mobile">
                        <a href="https://web.facebook.com/JZOfashion/">
                            <i class="ion ion-social-facebook"></i>
                        </a>
                    </li>
                    <li class="hide-mobile">
                        <a href="https://www.instagram.com/jzo_ng/">
                            <i class="ion ion-social-instagram"></i>
                        </a>
                    </li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>


        </div>
    </div>
    <div class="top-bar container visible-lg">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="margin-top:-0.8em;">
                <img alt="Logo" src="~/images/JZO-Logo-3-2.jpg" style="width:80px; height:auto">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right visible-lg visible-md hidden-sm hidden-xs">
            <li><a href="~/">Home</a></li>
            @*    <li><a href="#">Men</a></li>*@
            @*  <li><a href="#">Women</a></li>*@
            <li><a href="#">Collections</a></li>
            <li class="product-cat">
                <a href="#">Product Category</a>
                <div class="popover bottom product-cat-menu"> <div class="arrow"></div> <h3 class="popover-title">Popover bottom</h3> <div class="popover-content"> <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p> </div> </div>
            </li>
            <li class="store-link">
                <a href="~/store">
                    <i class="ion ion-bag"></i>Shop
                </a>
            </li>

        </ul>
    </div>
    
    <div id="mySidenav" class="sidenav">
       
        <a href="~/" style="margin-top:0.6em; padding-top:40px;"><i class="ion ion-home"></i>Home</a>

        
          @*  <a href="#"><i class="ion ion-ios-color-filter-outline"></i>collections </a>*@

        <a href="~/store" class="btn"><i class="ion ion-bag"></i>Shop</a>
        @*<a href="#"><i class="ion ion-man"></i> men</a>*@

        @*<a href="#"><i class="ion ion-woman"></i> women </a>*@

        <!--Login-->
        @{
            if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                    <div>
                        @{

                            if (await AuthorizationService.AuthorizeAsync(User, "CanManageStore"))
                            {
                                <span>
                                    <a asp-area="" asp-controller="Group" asp-action="Index" class="btn" style="background:#818181; color:white;">
                                        Manage store
                                    </a>
                                </span>
                            }
                        }

                        <a  asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Settings</a>
                        <span   style="position:absolute; bottom:5%;">                       
                                <button type="submit" class="btn btn-primary sign-out" style="width:100%">Sign out</button>                     
                        </span>

                    </div>
                </form>
            }
            else
            {
                <span style="position:absolute; bottom:5%; font-size:10pt !important;">
                                    <a style="color:white; border:none; text-decoration:none" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                                    <span class="login_or">
                                        &nbsp;or&nbsp;

                                    </span>
                                    <a style="color:white; border:none; text-decoration:none" asp-area="" asp-controller="Account" asp-action="Register">create an account</a>
                                </span>
            }

        }

    </div>
    <div class="hidden-lg mobileNavTopBar" style="padding:20px;padding-bottom:60px;background:#111; color:white;">
        <span class="openbtn" style="font-size:30px;cursor:pointer; float:right" onclick="openNav()">&#9776;</span>     
        <span class="closebtn" onclick="closeNav()" style="cursor:pointer; float:right">
                <i style="font-size:50px; color:#818181" class="ion ion-android-close"></i>
            </span>
       
        <span style="float:left">
            <a href="~/">
                <img alt="Logo" src="~/images/JZO-Logo-3-2.jpg" style="width:60px; height:auto">
            </a>
        </span>
        @{
            if (SignInManager.IsSignedIn(User))
            {
                <span style="margin-left:35%;">
                    <a asp-area="" asp-controller="Group" asp-action="getCartItems" title="GetCartItems" class="btn" style="padding:0; margin-bottom:-20px;">
                        <i class="ion ion-bag" style="font-size:30px; color:white"></i>
                        <b id="cart_count_2" style="color:white">

                        </b>
                    </a>
                </span>
            }
        }
        
    </div>
    <div id="main" class="body-content">
        @RenderBody()
        <hr />
        <footer class="container">
            <p style="text-align:center">
                &copy; 2016 - Jzo Fashion Nigeria Limited. RC: 1231299<br /><br />
                <b><i>Follow us on: </i></b>
                <a class="btn btn-default" href="https://web.facebook.com/JZOfashion/">
                    <i class="ion ion-social-facebook"></i>
                </a>
                <a class="btn btn-primary" href="https://twitter.com/jzo_ng">
                    <i class="ion ion-social-twitter"></i>
                </a>
                <a class="btn btn-primary" href="https://www.instagram.com/jzo_ng/">
                    <i class="ion ion-social-instagram"></i>
                </a>
            </p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jsonSerialize.js"></script>
        <script src="~/lib/dropzone/dist/dropzone.js"></script>
        <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/lib/jquery-mask-plugin/dist/jquery.mask.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/group.js" asp-append-version="true"></script>
        <script src="~/js/item.js" asp-append-version="true"></script>
        <script src="~/js/addToCart.js" asp-append-version="true"></script>
        <script src="~/js/landing.js" asp-append-version="true"></script>
        <script src="~/js/checkout.js" asp-append-version="true"></script>
        <script src="~/js/ShipToCustomer.js" asp-append-version="true"></script>
        <script src="~/js/SearchOrder.js" asp-append-version="true"></script>
        <script src="~/js/CustomOrder.js" asp-append-version="true"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jsonSerialize.min.js"></script>
        <script src="~/lib/dropzone/dist/min/dropzone.min.js"></script>
        <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/lib/jquery-mask-plugin/dist/jquery.mask.min.js"></script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/group.min.js" asp-append-version="true"></script>
        <script src="~/js/item.min.js" asp-append-version="true"></script>
        <script src="~/js/addToCart.min.js" asp-append-version="true"></script>
        <script src="~/js/landing.min.js" asp-append-version="true"></script>
        <script src="~/js/checkout.min.js" asp-append-version="true"></script>
        <script src="~/js/ShipToCustomer.min.js" asp-append-version="true"></script>
        <script src="~/js/SearchOrder.min.js" asp-append-version="true"></script>
        <script src="~/js/CustomOrder.min.js" asp-append-version="true"></script>



    </environment>

    <script>
        $('.closebtn').hide();
        /* Open the sidenav */
        function openNav() {
            document.getElementById("mySidenav").style.width = "70%";
            $('.closebtn').fadeIn();
            $('.openbtn').hide();
            //$(".mobileNavTopBar").css({position:''});
        }

        /* Close/hide the sidenav */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            $('.openbtn').fadeIn();
            $('.closebtn').hide();
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
