@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization;
@using jzo.Models
@using jzo.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IAuthorizationService AuthorizationService
@inject ApplicationDbContext _context

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="logged-in nav navbar-nav navbar-right">
            @{
                if (await AuthorizationService.AuthorizeAsync(User, "CanManageStore"))
                {
                    <li>
                        <a asp-area="" asp-controller="Group" asp-action="Index" class="btn btn-primary" style="color:white">Manage store</a>
                    </li>
                }
            }
            <li>
                <a asp-area="" asp-controller="Group" asp-action="getCartItems" title="GetCartItems" class="btn btn-warning">
                    <i class="ion ion-ios-cart" style="font-size:large; color:white"></i>
                    <b id="cart_count" style="color:white">
                        
                    </b>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello, @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Sign out</button>
            </li>

        </ul>
    </form>
                }
                else
                {
                    <ul class="login nav navbar-nav navbar-right">
                        <li style="padding-top:1em;">
                            <span>
                                <a style="color:white; text-decoration:none" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                                <span class="login_or">
                                    &nbsp;or&nbsp;

                                </span>
                                <a style="color:white; text-decoration:none" asp-area="" asp-controller="Account" asp-action="Register">create an account</a>
                            </span>
                        </li>

                    </ul>
                }

