@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<p class="alert alert-info forgot-confirmation animated slideInDown">
    <strong>@ViewData["Title"]. </strong>

    Please check your email to reset your password.
</p>
