@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@*<h2>@ViewData["Title"].</h2>*@

<section class="container register-view">
    <form style="width:65%; margin-left:auto; margin-right:auto;" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <br /><br />
        <h2>Create an account</h2>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label  class="col-md-2 control-label">Name</label>
            <div class="col-md-5">
                <input asp-for="firstname" placeholder="First name" class="form-control" />
                <span asp-validation-for="firstname" class="text-danger"></span>
            </div>

            <div class="col-md-5">
                <input asp-for="lastname" placeholder="Last name" class="form-control" />
                <span asp-validation-for="firstname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Country</label>
            
            <div class="col-md-5">
                <select asp-for="country" class="form-control">
                    <option selected disabled> Select Country</option>
                    <option value="Nigeria">Nigeria</option>
                </select>
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <select asp-for="state" class="form-control">
                    <option selected disabled> State</option>
                    <option value="Kaduna">Kaduna</option>
                </select>
                <span asp-validation-for="state" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <input asp-for="city" placeholder="City/town" class="form-control"/>
                  
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="mailingAddress" class="col-md-2 control-label">Mailing Address</label>
            <div class="col-md-10">
                <input asp-for="mailingAddress" placeholder="your preferred shipping address" class="form-control" />
                <span asp-validation-for="mailingAddress" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Email & Phone</label>
            <div class="col-md-5">
                <input asp-for="Email" placeholder="Email address" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <input asp-for="phone" placeholder="Phone number" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Password" placeholder="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <input asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>*@


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </form>
</section>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
