@model IEnumerable<jzo.Models.ItemGroup>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
} 
<br /><br />
<h1>Group Controller </h1>

<ul>
    <li><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Create-group-modal">Create Group</button></li>
    <li><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add-item-group-modal">Add items to group</button></li>
    <li>View All groups</li>
    <li>Save Changes</li>
</ul>

<!-- Create Group Modal -->
<div class="modal fade" id="Create-group-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form name="add-group" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create a new group of Items</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input name="name" class="form-control" type="text" placeholder="Item Group title... e.g Tunic Shirts" />
                </div>
                <div class="form-group">
                    <label class="control-label">description of items</label>
                    <input name="description" class="form-control" type="text" placeholder="Description... e.g Tunic Shirts for men" />
                </div>
                <div class="dropzone col s12" id="my-dropzone" name="mainFileUploader">

                    <div class="dz-message" data-dz-message>
                        <span style="font-size:18pt; text-align:center">
                            <i class="ion ion-ios-cloud-upload-outline"></i><br />
                            Click to upload or drag/drop scanned copies of loan application documents
                        </span><br />
                        <span><i>Max file Size: 5mb</i></span><br />
                    </div>
                    <div class="fallback">
                        <input name="file" type="file" multiple required />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
   
</div>


<!--Add items to group modal-->
<div class="modal fade" id="add-item-group-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form name="add-item" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create new items</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Item Group</label>
                    <select name="group_id" class="form-control">
                        @{
                            foreach (var group in Model)
                            {
                                <option value="@group.Id">@group.name</option>

                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input name="name" class="form-control" type="text" placeholder="Item Group title... e.g Tunic Shirts" />
                </div>
                <div class="form-group">
                    <label class="control-label">description of items</label>
                    <input name="description" class="form-control" type="text" placeholder="Description... e.g Tunic Shirts for men" />
                </div>
                <div class="form-group">
                    <label class="control-label">Unit price </label>
                    <input name="price" class="form-control" type="text" placeholder="unit price" />
                </div>
                <div class="form-group">
                    <label class="control-label">Quantity</label>
                    <input name="quantity" class="form-control" type="text" placeholder="quantity of items" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary save-item">Save changes</button>
            </div>
        </form>
    </div>

</div>