@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var status = ViewData["status"].ToString();

    if(status == "invalid transaction")
    {
        <h1>@status</h1>
        //failed transaction
        <div class="paystack-callback" style="padding:20em;">
            <p class="alert alert-danger">
                <b>This transaction is an invalid transaction</b><br />
                <a href="~/" class="btn btn-danger">cancel</a>
            </p>
        </div>

    }
    else
    {
        //success
        <div class="paystack-callback" style="padding:20em;">
            <p class="alert alert-success">
                <b>This transaction was successfull. Please return back to store </b><br />
                <a href="~/" class="btn btn-default">Home</a>
                <a href="~/store" class="btn btn-primary">Continue Shopping</a>

            </p>
        </div>

    }
}

