@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}


<div style="padding-left:10em; padding-right:10em; padding-top:5em; padding-bottom:20em;">
    <h2>@ViewData["Title"].</h2>

    <p class="text-success">@ViewData["StatusMessage"]</p>

    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change your password here</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create a new password</a>
            }
        </dd>
      
    </dl>
</div>
