@import "../_variables.scss";

.login-view{
    margin-top:13em;
}

.login-view form .btn-default{
    min-width:100%;
    margin-bottom:10px;
}

.login-view .form-control{
    border-radius:0;
    border:1px solid $primary-color;
}