
@import "_responsive.scss";

.error{
    color:red;
    
}

.top-bar{
    height:150px;
    background:whitesmoke;
    width:100%;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:16.5%;
    padding-right:14%;
}
.top-bar ul li{
    text-transform:uppercase;
    padding-top:10px;
}

.top-bar ul li a:hover{
    background:#0047AB ;
    color:white;
}