
@import "_responsive.scss";
@import "_variables.scss";

@import url('https://fonts.googleapis.com/css?family=Dosis|Maven+Pro');

body {
    font-family: 'Maven Pro', sans-serif;
}

.error {
    color: red;
}

.top-bar {
    height: 150px;
    background: whitesmoke;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 16.5%;
    padding-right: 14%;
    border-bottom: 1px solid $primary-color;
}

.top-bar ul li {
    text-transform: uppercase;
    padding-top: 15px;
}

.top-bar ul .store-link {
    background: $primary-color;
    color: white;
}

.top-bar ul .store-link i {
    margin-right: 10px;
    font-size: 20pt;
}

.top-bar ul .store-link a {
    color: white;
}

.top-bar ul li a {
    color: black;
}

.top-bar ul li a:hover {
    border: 2px solid $primary-color;
    color: $primary-color;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}

.top-bar ul .product-cat a:hover {
    border-left: 2px solid $primary-color;
    border-top: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
    border-right: none;
    color: $primary-color;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}


#myCarousel .carousel-inner .item img {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    /*position: fixed;
  top: 0;
  left: 0;*/
}

/*Button styles*/
.btn {
    border-radius: 0px;
}

.btn-default {
    border: 2px solid $primary-color;
    color: $primary-color;
}

.btn-primary {
    background: $primary-color;
    border: 2px solid $primary-color;
}

.btn:hover {
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}

.call-to-action-1 {
    margin-top: -70vh;
    margin-left: 40vw;
}

.call-to-action-2 {
    margin-top: -90vh;
    margin-left: -65vw;
}

.call-to-action-1 .btn, .call-to-action-2 .btn {
    font-size: 15pt;
    padding: 10px;
}
.call-to-action-1 .btn:hover, .call-to-action-2 .btn:hover {
    font-size: 15pt;
    padding: 12px;
    background:gainsboro;
}
.call-to-action-1 .btn-primary:hover, .call-to-action-2 .btn-primary:hover {
   padding: 12px;
    color: white;
    background: $primary-color;
}
.call-to-action-1 .btn-default, .call-to-action-2 .btn-default {
    border: 2px solid $primary-color;
    color: $primary-color;
    background: whitesmoke;
}

.call-to-action-1 .btn-primary, .call-to-action-2 .btn-primary {
    border: 2px solid $primary-color;
    color: white;
    background: $primary-color;
}

//carousel controls
.carousel-control {
    margin-top: -50vh;
}
.carousel-control .glyphicon{
    background:$primary-color; padding:15px; padding-top:30px;  height:100px; width:auto;
}

#myCarousel .left{
    margin-left:-7%;
}
#myCarousel .right{
    margin-right:-7%;
}


/*Featured Collection**/
.featured-collection{
    padding-top:8em;
    min-height:100vh;
}

hr{
    border-top: 3px solid #eee;
}

.featured-content{
    padding-top:5em;
}

.image-overlay {
    width: 300px;
    height: 350px;
    background-color: $primary-color;
    border-radius: 0;
    /*z-index: 1;*/
    opacity: 0.5;
    /*position: fixed;*/
    margin-top: -350px;
    display:none;

 }

//forms
.form-control{
    border-radius:0px !important;
    border: 2px solid #ccc;
}